<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="icon" href="./restaurant.png">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#DB0000" />
  <meta content="description">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
  <title>RestoKu</title>
</head>

<body>
  <a href="#explorecontent" class="skip-link">Menuju ke konten</a>
  <header>
    <nav id="navigationDrawer">
      <a href="#" class="app-logo">RestoKu</a>
      <button id="hamburgerMenu">☰</button>
      <div class="app-navigation">
        <a href="#">Home</a>
        <a href="#/like">Favorite</a>
        <a href="https://github.com/Niztix" target="_blank" rel="noopener">About Us</a>
      </div>
    </nav>
  </header>
  <main id="mainContent">
    <div class="explore"></div>
  </main>
  <footer>
    <p>Copyright &#169; 2023, Reynaldi Ghifari Putra Hustama.</p>
  </footer>
</body>

</html>